body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

/*************************** Nagłówki *****************************/
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

/*************************** Znaczniki *****************************/
span {
    text-decoration: underline;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border: 10px;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    color:#EAF6F6;
    margin: 100px auto;
}

/*************************** CONTAINERS *****************************/

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #E4F9F5;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    padding: 50px 0 20px 0;
    background-color: #66BFBF;
}


/*************************** OTHER Containers *****************************/
.title {
    margin-top: 20;
    text-align: center;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 180px auto;
    text-align: left;
    line-height: 2;
}

.contact-message {
    width: 30%;
    margin: auto;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

/*************************** photos *****************************/
.photo-programist {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.photo-computer {
    width: 25%;
    float: right;
    margin-left: 30px;
}


/*************************** buttons *****************************/
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

/*************************** ID *****************************/
#right-cloud {
    position: absolute;
    top: 40px;
    right: 300px;
}

#left-cloud {
    position: absolute;
    bottom: 300px;
    left: 250px;

}